<main>
  <div class="flex-between filter-wrap">
    <h1 class="section-title ">Student Data -
      <span class="clr-text color-1">Andhra Pradesh State</span>
    </h1>

    <div class="filter-sec">
      <span>Filter zones or schools</span>
      <span class="material-symbols-outlined">filter_alt</span>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-4 mb-3">
      <div class="tot-num-card">
        <div class="bieap-row justify-content-between">
          <p class="card-head">Total Number of Students</p>
          <p class="card-date">12/04/2023</p>
        </div>
        <div class="mt-3">
          <h3 class="heading-3 bold">1,00,0000</h3>
          <p class="lead">From 1,000 schools</p>
        </div>
        <hr>
        <div class="flex-between">
          <p>Present <span class="clr-text color-6">90,000</span></p>
          <p>Absent <span class="clr-text color-5">10,000</span></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-3">
      <div class= "gender-card ">
       <div class="row">
        <div class="col-12 col-md-6 border-r d-flex">
          <div class="bieap-column m-0 bieap-card ">
            <div class="icon-lg color-1">
              <img src="../../../assets/boys.svg" alt="">
            </div>
            <p>Boys</p>
            <h3 class="heading-3 bold">40,000</h3>
          </div>
        </div>
        <div class="col-12 col-md-6 d-flex">
          <div class="bieap-column m-0 bieap-card ">
            <div class="icon-lg color-8">
              <img src="../../../assets/girls.svg" alt="">
            </div>
            <p>Girls</p>
            <h3 class="heading-3 bold">40,000</h3>
          </div>
        </div>
       </div>
      </div>
    </div>
    <div class="col-12 col-md-4 mb-3">
      <div class="tot-num-card">
        <div class="bieap-row gap-0 justify-content-between">
          <p class="card-head">Students between 60-75% attendance</p>
          <p class="card-date">12/04/2023</p>
        </div>
        <div class="mt-3">
          <h3 class="heading-3 bold">10,000</h3>
          <p class="lead">From 692 schools</p>
        </div>
        <hr>
        <div class="flex-between">
          <p>Boys <span class="clr-text color-1">5,000</span></p>
          <p>Girls <span class="clr-text color-3">5,000</span></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="bieap-card tot-stud-card">
         <div class="bieap-row justify-content-between">
          <p class="card-head">Year 1 - Class 11</p>
          <p class="card-date">12/04/2023</p>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 border-r">
            <p class="mb-3">Total Number of  Students</p>
            <h3 class="heading-3 bold mb-4">50,000</h3>
            <div class="flex-between">
              <p>Boys  &nbsp;&nbsp;<span class="clr-text color-1">23,000</span></p>
              <p>Girls  &nbsp;&nbsp;<span class="clr-text color-6">23,000</span></p>
            </div>
          </div>
          <div class="col-12 col-md-6">
           <div class="row">
            <div class="col-6 mb-3"><p>Present</p></div>
            <div class="col-6 mb-3"><p>Absent</p></div>
            <div class="col-6 mb-4"><h3 class="heading-3 medium clr-text color-5">45,000</h3></div>
            <div class="col-6 mb-4"><h3 class="heading-3 medium clr-text color-5">5,000</h3></div>
            <div class="col-12"><p>Students between 60-75% &nbsp;&nbsp;<span class="heading-4 medium">5,000</span></p> </div>
           </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="bieap-card tot-stud-card">
         <div class="bieap-row justify-content-between">
          <p class="card-head">Year 1 - Class 11</p>
          <p class="card-date">12/04/2023</p>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 border-r">
            <p class="mb-3">Total Number of  Students</p>
            <h3 class="heading-3 bold mb-4">50,000</h3>
            <div class="flex-between">
              <p>Boys  &nbsp;&nbsp;<span class="clr-text color-1">23,000</span></p>
              <p>Girls  &nbsp;&nbsp;<span class="clr-text color-6">23,000</span></p>
            </div>
          </div>
          <div class="col-12 col-md-6">
           <div class="row">
            <div class="col-6 mb-3"><p>Present</p></div>
            <div class="col-6 mb-3"><p>Absent</p></div>
            <div class="col-6 mb-4"><h3 class="heading-3 medium clr-text color-1">45,000</h3></div>
            <div class="col-6 mb-4"><h3 class="heading-3 medium clr-text color-1">5,000</h3></div>
            <div class="col-12"><p>Students between 60-75% &nbsp;&nbsp;<span class="heading-4 medium">5,000</span></p> </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-between filter-wrap">
    <h1 class="section-title ">Student Performance -
      <span class="clr-text color-1">Andhra Pradesh State</span>
    </h1>

    <div class="filter-sec">
      <span>Filter zones or schools</span>
      <span class="material-symbols-outlined">filter_alt</span>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-3">
      <div class="bieap-card">
        <p class="mb-2">Best performing students</p>
        <h1 class="heading-1 bold">3,000</h1>
        <p class="card-date mt-2">From 1,000 schools</p>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="bieap-card">
        <p class="mb-2">Students un-eligible for exams</p>
        <h1 class="heading-1 bold">300</h1>
        <p class="card-date mt-2">From 750 schools</p>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="bieap-card teacher-perf">
        <div class="row">
          <div class="col-12 col-md-6 border-r">
            <p> <span class="clr-text color-6">01</span>/1000</p>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="slide-profile">

                    <img src="../../../assets/profile.svg" class="d-block w-100" alt="../../../assets/profile.svg">
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="slide-profile">

                    <img src="../../../assets/profile.svg" class="d-block w-100" alt="../../../assets/profile.svg">
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="slide-profile">

                    <img src="../../../assets/profile.svg" class="d-block w-100" alt="../../../assets/profile.svg">
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <p class="teacher-perf-head">Student of the year 2022 - 2023</p>
            <p>Student Name</p>
            <p>Class 11</p>
            <p class="m-0">School Name</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-between filter-wrap">
    <h1 class="section-title ">Year and medium wise students -
      <span class="clr-text color-1">Andhra Pradesh State</span>
    </h1>

    <div class="filter-sec">
      <span>Filter zones or schools</span>
      <span class="material-symbols-outlined">filter_alt</span>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <div class="bieap-card">
        <div class="card-head">Year 1 - Class 11</div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="pie-chart stud-chart">
              <img src="../../../assets/pie-chart.svg" alt="">
            </div>
          </div>
          <div class="col-12 col-md-6 d-flex align-items-center flex-column">
            <div class="row mb-3">
              <div class="col-6">

                <p class="circle color-1">English</p>
              </div>
              <div class="col-6">

                <p>4,000</p>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-6">

                <p class="circle color-7">English</p>
              </div>
              <div class="col-6">

                <p>4,000</p>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-6">
                <p class="circle color-2">English</p>
              </div>
              <div class="col-6">
                <p>4,000</p>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-6">
                <p class="circle color-6">English</p>
              </div>
              <div class="col-6">
                <p>4,000</p>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-6">
                <p class="circle color-4">English</p>
              </div>
              <div class="col-6">
                <p>4,000</p>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-6">
                <p class="circle color-3">English</p>
              </div>
              <div class="col-6">
                <p>4,000</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="bieap-card">
        <div class="card-head">Year 1 - Class 11</div>
        <div class="row">
          <div class="col-12 col-md-6">
            <div class="pie-chart stud-chart">
              <img src="../../../assets/pie-chart.svg" alt="">
            </div>
          </div>
          <div class="col-12 col-md-6 d-flex align-items-center flex-column">
            <div class="row mb-3">
              <div class="col-6">
                <p class="circle color-1">English</p>
              </div>
              <div class="col-6">
                <p>4,000</p>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-6">
                <p class="circle color-7">English</p>
              </div>
              <div class="col-6">
                <p>4,000</p>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-6">
                <p class="circle color-2">English</p>
              </div>
              <div class="col-6">
                <p>4,000</p>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-6">
                <p class="circle color-6">English</p>
              </div>
              <div class="col-6">
                <p>4,000</p>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-6">
                <p class="circle color-4">English</p>
              </div>
              <div class="col-6">
                <p>4,000</p>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-6">
                <p class="circle color-3">English</p>
              </div>
              <div class="col-6">
                <p>4,000</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>
