<main>
  <div class="flex-between filter-wrap">
    <h1 class="section-title ">Academic Result 2022-2023 -
      <span class="clr-text color-1">Andhra Pradesh State</span>
    </h1>

    <div class="filter-sec">
      <span>Filter zones or schools</span>
      <span class="material-symbols-outlined">filter_alt</span>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <div class="bieap-card acc-res-card ">
        <div class="card-head mb-3">Year 1 - Class 11</div>
        <div class="row">
          <div class="col-12 col-md-12 col-lg-7 border-r">
            <div class="candi-details">
              <div class="icon-lg color-7">
                <img src="assets/stud-2.svg" alt="">
              </div>
              <div class="acc-res-content">
                <p class="mb-2">Candidates Appeared</p>
                <h3 class="heading-3 bold">49,700 <span class="lead">Out of 50,000</span></h3>
              </div>
            </div>
            <div class="candi-details">
              <div class="icon-lg color-6">
                <span class="material-symbols-outlined clr-text color-6">done</span>
              </div>
              <div class="acc-res-content">
                <p class="mb-2">Candidates Passed</p>
                <h3 class="heading-3 bold">49,700<span class="lead clr-text color-6">Pass Percentage 91%</span></h3>
              </div>
            </div>
            <div class="candi-details mb-0">
              <div class="icon-lg color-5">
                <span class="material-symbols-outlined clr-text color-5">close</span>
              </div>
              <div class="acc-res-content">
                <p class="mb-2">Candidates Failed</p>
                <h3 class="heading-3 bold">49,700<span class="lead clr-text color-5">Fail Percentage 09%</span></h3>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-5 p-0">

           <div class="res-stud-num">
            <div class="icon-lg color-1">
              <img src="assets/boys.svg" alt="">
            </div>
            <p class="lead">Number of Boys</p>
           </div>
           <div class="res-stud-num border-b">
            <div>
              <p class="lead">Appeared</p>
              <h3 class="heading-3 medium mt-2">23,000</h3>
            </div>

            <div>
              <p class="lead">Passed</p>
              <h3 class="heading-3 medium mt-2">24,850</h3>
            </div>
           </div>

           <div class="res-stud-num">
            <div class="icon-lg color-8">
              <img src="assets/girls.svg" alt="">
            </div>
            <p class="lead">Number of Girls</p>
           </div>
           <div class="res-stud-num">
            <div>
              <p class="lead">Appeared</p>
              <h3 class="heading-3 medium mt-2">23,000</h3>
            </div>

            <div>
              <p class="lead">Passed</p>
              <h3 class="heading-3 medium mt-2">24,850</h3>
            </div>
           </div>

          </div>
        </div>
      </div>

    </div>

    <div class="col-12 col-md-6">
      <div class="bieap-card acc-res-card ">
        <div class="card-head mb-3">Year 1 - Class 11</div>
        <div class="row">
          <div class="col-12 col-md-12 col-lg-7 border-r">
            <div class="candi-details">
              <div class="icon-lg color-7">
                <img src="assets/stud-2.svg" alt="">
              </div>
              <div class="acc-res-content">
                <p class="mb-2">Candidates Appeared</p>
                <h3 class="heading-3 bold">49,700 <span class="lead">Out of 50,000</span></h3>
              </div>
            </div>
            <div class="candi-details">
              <div class="icon-lg color-6">
                <span class="material-symbols-outlined clr-text color-6">done</span>
              </div>
              <div class="acc-res-content">
                <p class="mb-2">Candidates Passed</p>
                <h3 class="heading-3 bold">49,700<span class="lead clr-text color-6">Pass Percentage 91%</span></h3>
              </div>
            </div>
            <div class="candi-details mb-0">
              <div class="icon-lg color-5">
                <span class="material-symbols-outlined clr-text color-5">close</span>
              </div>
              <div class="acc-res-content">
                <p class="mb-2">Candidates Failed</p>
                <h3 class="heading-3 bold">49,700<span class="lead clr-text color-5">Fail Percentage 09%</span></h3>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-12 col-lg-5 p-0">

           <div class="res-stud-num">
            <div class="icon-lg color-1">
              <img src="assets/boys.svg" alt="">
            </div>
            <p class="lead">Number of Boys</p>
           </div>
           <div class="res-stud-num border-b">
            <div>
              <p class="lead">Appeared</p>
              <h3 class="heading-3 medium mt-2">23,000</h3>
            </div>

            <div>
              <p class="lead">Passed</p>
              <h3 class="heading-3 medium mt-2">24,850</h3>
            </div>
           </div>

           <div class="res-stud-num">
            <div class="icon-lg color-8">
              <img src="assets/girls.svg" alt="">
            </div>
            <p class="lead">Number of Girls</p>
           </div>
           <div class="res-stud-num">
            <div>
              <p class="lead">Appeared</p>
              <h3 class="heading-3 medium mt-2">23,000</h3>
            </div>

            <div>
              <p class="lead">Passed</p>
              <h3 class="heading-3 medium mt-2">24,850</h3>
            </div>
           </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-12 col-lg-6">
      <div class="bieap-card map-card">
        <img src="assets/map.svg" alt="">
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
      <div class="bieap-card">
        <div class="card-head">Year 1 - Class 11</div>
        <figure class="pie-chart">
          <p class="lead">Total</p>
          <h3 class="heading-3 bold">45,000</h3>
        </figure>
        <div class="pie-chart-details">
          <p class="circle color-7 lead">Grade A - > 75%-</p>
          <h4 class="card-head">34,000</h4>
        </div>
        <div class="pie-chart-details">
          <p class="circle color-1 lead">Grade B - > 60% - 75-</p>
          <h4 class="card-head">7,000</h4>
        </div>
        <div class="pie-chart-details">
          <p class="circle color-2 lead">Grade C - > 50% - 60%-</p>
          <h4 class="card-head">1,000</h4>
        </div>
        <div class="pie-chart-details">
          <p class="circle color-5 lead">Grade D - > 35% - 50%-</p>
          <h4 class="card-head">3,000</h4>
        </div>

      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
      <div class="bieap-card">
        <div class="card-head">Year 2 - Class 12</div>
        <figure class="pie-chart">
          <p class="lead">Total</p>
          <h3 class="heading-3 bold">45,000</h3>
        </figure>
        <div class="pie-chart-details">
          <p class="circle color-7 lead">Grade A - > 75%-</p>
          <h4 class="card-head">34,000</h4>
        </div>
        <div class="pie-chart-details">
          <p class="circle color-1 lead">Grade B - > 60% - 75-</p>
          <h4 class="card-head">7,000</h4>
        </div>
        <div class="pie-chart-details">
          <p class="circle color-2 lead">Grade C - > 50% - 60%-</p>
          <h4 class="card-head">1,000</h4>
        </div>
        <div class="pie-chart-details">
          <p class="circle color-5 lead">Grade D - > 35% - 50%-</p>
          <h4 class="card-head">3,000</h4>
        </div>

      </div>
    </div>
  </div>

  <div class="flex-between filter-wrap">
    <h1 class="section-title ">Year 1 past three years result -
      <span class="clr-text color-1">Andhra Pradesh State</span>
    </h1>

    <div class="filter-sec">
      <span>Filter zones or schools</span>
      <span class="material-symbols-outlined">filter_alt</span>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4">
      <div class="bieap-card past-result">

        <div class="past-res-sec">
          <div class="card-head">Candidates Appeared</div>
          <div class="d-flex align-items-center gap-12">
            <h3 class="heading-3 bold">49,700 </h3>
            <p class="lead">Out of 50,000</p>
          </div>
        </div>
        <div class="past-res-sec">
          <div class="card-head">Candidates Appeared</div>
          <div class="d-flex align-items-center gap-12">
            <h3 class="heading-3 bold">49,700 </h3>
            <p class="clr-text color-6">Pass Percentage 91%</p>
          </div>
        </div>
        <div class="past-res-sec mb-0">
          <div class="card-head">Candidates Appeared</div>
          <div class="d-flex align-items-center gap-12">
            <h3 class="heading-3 bold">49,700 </h3>
            <p class="clr-text color-5">Fail Percentage 09%</p>
          </div>
        </div>

        <hr>
        <p class="lead text-center">2022 - 2023</p>




      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="bieap-card past-result">

        <div class="past-res-sec">
          <div class="card-head">Candidates Appeared</div>
          <div class="d-flex align-items-center gap-12">
            <h3 class="heading-3 bold">49,700 </h3>
            <p class="lead">Out of 50,000</p>
          </div>
        </div>
        <div class="past-res-sec">
          <div class="card-head">Candidates Appeared</div>
          <div class="d-flex align-items-center gap-12">
            <h3 class="heading-3 bold">49,700 </h3>
            <p class="clr-text color-6">Pass Percentage 91%</p>
          </div>
        </div>
        <div class="past-res-sec mb-0">
          <div class="card-head">Candidates Appeared</div>
          <div class="d-flex align-items-center gap-12">
            <h3 class="heading-3 bold">49,700 </h3>
            <p class="clr-text color-5">Fail Percentage 09%</p>
          </div>
        </div>

        <hr>
        <p class="lead text-center">2022 - 2023</p>




      </div>
    </div>
     <div class="col-12 col-md-4">
      <div class="bieap-card past-result">

        <div class="past-res-sec">
          <div class="card-head">Candidates Appeared</div>
          <div class="d-flex align-items-center gap-12">
            <h3 class="heading-3 bold">49,700 </h3>
            <p class="lead">Out of 50,000</p>
          </div>
        </div>
        <div class="past-res-sec">
          <div class="card-head">Candidates Appeared</div>
          <div class="d-flex align-items-center gap-12">
            <h3 class="heading-3 bold">49,700 </h3>
            <p class="clr-text color-6">Pass Percentage 91%</p>
          </div>
        </div>
        <div class="past-res-sec mb-0">
          <div class="card-head">Candidates Appeared</div>
          <div class="d-flex align-items-center gap-12">
            <h3 class="heading-3 bold">49,700 </h3>
            <p class="clr-text color-5">Fail Percentage 09%</p>
          </div>
        </div>

        <hr>
        <p class="lead text-center">2022 - 2023</p>




      </div>
    </div>
  </div>

  <div class="flex-between filter-wrap">
    <h1 class="section-title ">Year 1 past three years result -
      <span class="clr-text color-1">Andhra Pradesh State</span>
    </h1>

    <div class="filter-sec">
      <span>Filter zones or schools</span>
      <span class="material-symbols-outlined">filter_alt</span>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4">
      <div class="bieap-card past-result">

        <div class="past-res-sec">
          <div class="card-head">Candidates Appeared</div>
          <div class="d-flex align-items-center gap-12">
            <h3 class="heading-3 bold">49,700 </h3>
            <p class="lead">Out of 50,000</p>
          </div>
        </div>
        <div class="past-res-sec">
          <div class="card-head">Candidates Appeared</div>
          <div class="d-flex align-items-center gap-12">
            <h3 class="heading-3 bold">49,700 </h3>
            <p class="clr-text color-6">Pass Percentage 91%</p>
          </div>
        </div>
        <div class="past-res-sec mb-0">
          <div class="card-head">Candidates Appeared</div>
          <div class="d-flex align-items-center gap-12">
            <h3 class="heading-3 bold">49,700 </h3>
            <p class="clr-text color-5">Fail Percentage 09%</p>
          </div>
        </div>

        <hr>
        <p class="lead text-center">2022 - 2023</p>




      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="bieap-card past-result">

        <div class="past-res-sec">
          <div class="card-head">Candidates Appeared</div>
          <div class="d-flex align-items-center gap-12">
            <h3 class="heading-3 bold">49,700 </h3>
            <p class="lead">Out of 50,000</p>
          </div>
        </div>
        <div class="past-res-sec">
          <div class="card-head">Candidates Appeared</div>
          <div class="d-flex align-items-center gap-12">
            <h3 class="heading-3 bold">49,700 </h3>
            <p class="clr-text color-6">Pass Percentage 91%</p>
          </div>
        </div>
        <div class="past-res-sec mb-0">
          <div class="card-head">Candidates Appeared</div>
          <div class="d-flex align-items-center gap-12">
            <h3 class="heading-3 bold">49,700 </h3>
            <p class="clr-text color-5">Fail Percentage 09%</p>
          </div>
        </div>

        <hr>
        <p class="lead text-center">2022 - 2023</p>




      </div>
    </div>
     <div class="col-12 col-md-4">
      <div class="bieap-card past-result">

        <div class="past-res-sec">
          <div class="card-head">Candidates Appeared</div>
          <div class="d-flex align-items-center gap-12">
            <h3 class="heading-3 bold">49,700 </h3>
            <p class="lead">Out of 50,000</p>
          </div>
        </div>
        <div class="past-res-sec">
          <div class="card-head">Candidates Appeared</div>
          <div class="d-flex align-items-center gap-12">
            <h3 class="heading-3 bold">49,700 </h3>
            <p class="clr-text color-6">Pass Percentage 91%</p>
          </div>
        </div>
        <div class="past-res-sec mb-0">
          <div class="card-head">Candidates Appeared</div>
          <div class="d-flex align-items-center gap-12">
            <h3 class="heading-3 bold">49,700 </h3>
            <p class="clr-text color-5">Fail Percentage 09%</p>
          </div>
        </div>

        <hr>
        <p class="lead text-center">2022 - 2023</p>

      </div>
    </div>
  </div>


</main>
