<!-- <div class="wrapper wrapper-pd"> -->

  <!-- HEADER SECTION  -->
  <header class="header" id="header">
    <button class="header__toggle">
      <span class="material-symbols-outlined">menu</span>
    </button>
    <div class="header__search">
      <span class="material-symbols-outlined">search</span>
      <input type="text" placeholder="Search for schools, faculties etc.">
    </div>

    <div class="header__profile">
      <div class="header__profile-img"><img src="" alt=""></div>
      <div class="header__profile-content">
        <h4 class="header__profile-name">Profile Name</h4>
        <h5 class="header__profile-position">Joint Director</h5>
      </div>
    </div>
  </header>

  <!-- SIDE BAR  -->

  <aside class="navbar  " id="navbar">
      <nav>

        <div>
          <a href="#" class="nav__logo">
            <div class="nav-logo-img">
              <img src="" alt="">
            </div>
            <span>APBIE</span>
          </a>
        </div>

        <div class="nav-list">
          <a href="#" class="nav__link">
            <div class="nav-icon">
              <img src="" alt="">
            </div>
            <span>Dashboard</span>
          </a>

          <a href="#" class="nav__link">
            <div class="nav-icon">
              <img src="" alt="">
            </div>
            <span>Reports</span>
          </a>

          <a href="#" class="nav__link">
            <div class="nav-icon">
              <img src="" alt="">
            </div>
            <span>Employees</span>
          </a>

          <a href="#" class="nav__link">
            <div class="nav-icon">
              <img src="" alt="">
            </div>
            <span>Students</span>
          </a>

          <a href="#" class="nav__link">
            <div class="nav-icon">
              <img src="" alt="">
            </div>
            <span>Exam/Result</span>
          </a>

          <a href="#" class="nav__link">
            <div class="nav-icon">
              <img src="" alt="">
            </div>
            <span>Fee Details</span>
          </a>

          <a href="#" class="nav__link">
            <div class="nav-icon">
              <img src="" alt="">
            </div>
            <span>Schools</span>
          </a>


        </div>

        <a href="#" class="nav__link">
          <div class="nav-icon">
            <img src="" alt="">
          </div>
          <span>Log Out</span>
        </a>
      </nav>
  </aside>
<!-- </div> -->
