<main>
  <h1 class="section-title ">School Data - Andhra Pradesh</h1>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="bieap-card color-1">
        <div class="bieap-row">
          <div class="icon-lg">
            <img src="assets/school.svg" alt="">
          </div>
          <h1 class="heading-1 bold">1,000</h1>
        </div>
        <p class="para-2">Total Number of Schools</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="bieap-card color-5">
        <div class="bieap-row">
          <div class="icon-lg">
            <img src="assets/calender.svg" alt="">
          </div>
          <h1 class="heading-1 bold">1,00,000</h1>
        </div>
        <p class="para-2">Schools under 60% attendance  </p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="bieap-card color-7">
        <div class="bieap-row">
          <div class="icon-lg">
            <img src="assets/trophy.svg" alt="">
          </div>
          <h1 class="heading-1 bold">30,000</h1>
        </div>
        <p class="para-2">Schools above 90% pass percent</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="bieap-card color-2">
        <div class="bieap-row">
          <div class="icon-lg">
            <img src="assets/close.svg" alt="">
          </div>
          <h1 class="heading-1 bold">20,000</h1>
        </div>
        <p class="para-2">Schools below 30% pass percent</p>
      </div>
    </div>
  </div>

  <h1 class="section-title ">Total School List</h1>
  <div class="row">
    <div class="col-12 col-md-6 tot-school-list">
      <table class="table text-center">
        <tr  [routerLink]="['/schools/list']">
          <th>Zone Name</th>
          <th>Number of schools</th>
          <th></th>
        </tr>
        <tr  [routerLink]="['/schools/list']">
          <td><p>Zone 1</p></td>
          <td><p class="zone-num"> 100</p></td>
          <td><p class="clr-text color-1">View</p></td>
        </tr>
        <tr  [routerLink]="['/schools/list']">
          <td><p>Zone 1</p></td>
          <td><p class="zone-num"> 100</p></td>
          <td><p class="clr-text color-1">View</p></td>
        </tr>
        <tr  [routerLink]="['/schools/list']">
          <td><p>Zone 1</p></td>
          <td><p class="zone-num"> 100</p></td>
          <td><p class="clr-text color-1">View</p></td>
        </tr>
        <tr  [routerLink]="['/schools/list']">
          <td><p>Zone 1</p></td>
          <td><p class="zone-num"> 101</p></td>
          <td><p class="clr-text color-1">View</p></td>
        </tr>
      </table>
    </div>
  </div>
</main>
