
<main>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="bieap-card color-1">
        <div class="bieap-row">
          <div class="icon-lg">
            <img src="assets/school.svg" alt="">
          </div>
          <h1 class="heading-1 bold">1,000</h1>
        </div>
        <p class="para-2">Total Number of Schools</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="bieap-card color-5">
        <div class="bieap-row">
          <div class="icon-lg">
            <img src="assets/student.svg" alt="">
          </div>
          <h1 class="heading-1 bold">1,00,000</h1>
        </div>
        <p class="para-2">Total Number of Schools</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="bieap-card color-7">
        <div class="bieap-row">
          <div class="icon-lg">
            <img src="assets/teacher.svg" alt="">
          </div>
          <h1 class="heading-1 bold">30,000</h1>
        </div>
        <p class="para-2">Total Number of Schools</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="bieap-card color-2">
        <div class="bieap-row">
          <div class="icon-lg">
            <img src="assets/employees.svg" alt="">
          </div>
          <h1 class="heading-1 bold">20,000</h1>
        </div>
        <p class="para-2">Total Number of Schools</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="bieap-card attendance">
        <div class="bieap-row justify-content-between">
          <p class="card-head">Employee Attendance</p>
          <p class="card-date">12/04/2023</p>
        </div>
        <div class="bieap-row chart-height">
          <div class="bieap-chart">
            <img src="assets/progress-circle-1.svg" alt="">
          </div>
          <div class="bieap-chart-details">
            <div class="mb-4">
              <p class="circle color-1">Teaching </p>
              <h2 class="heading-3 medium">20,015</h2>
            </div>
            <div>
              <p class="circle color-2">Non Teaching </p>
              <h2 class="heading-3 medium">17,230</h2>
            </div>
          </div>
        </div>
        <hr>
        <div class="flex-between ">
          <div class="flex-center gap-12">
            <p>Present</p>
            <h2 class="heading-2 medium">25,000</h2>
          </div>
          <div class="flex-center gap-12">
            <p>Absent</p>
            <h2 class="heading-2 medium">25,000</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="bieap-card attendance">
        <div class="bieap-row justify-content-between">
          <p class="card-head">Student Attendance</p>
          <p class="card-date">12/04/2023</p>
        </div>
        <div class="bieap-row chart-height justify-content-center">
          <div class="bieap-chart">
            <img src="assets/progress-circle-2.svg" alt="">
          </div>
          <div class="bieap-chart-details">
            <div class="mb-4">
              <p class="circle color-1">Boys Present </p>
              <h2 class="heading-3 medium">38,000</h2>
            </div>
            <div>
              <p class="circle color-2">Girls Present</p>
              <h2 class="heading-3 medium">37,000</h2>
            </div>
          </div>
        </div>
        <hr>
        <div class="flex-between ">
          <div class="flex-center gap-12">
            <p>Present</p>
            <h2 class="heading-2 medium">25,000</h2>
          </div>
          <div class="flex-center gap-12">
            <p>Absent</p>
            <h2 class="heading-2 medium">25,000</h2>
          </div>

        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="bieap-card ">
        <div class="bieap-row justify-content-between">
          <p class="card-head">Zones under 75% attendance</p>
        </div>
        <div class="zone-attendence-bar text-center">
          <div class="zone-bar">
            <div>
              <p>Zone-bar</p>
            </div>
            <div class="progress">
                  <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 14%"
                  aria-valuenow="14"
                  aria-valuemin="0"
                  aria-valuemax="100">
                </div>
          </div>
          <div>
            <p class="zone-per">14%</p>
          </div>
          </div>
          <div class="zone-bar">
            <div>
              <p>Zone-bar</p>
            </div>
            <div class="progress">
                  <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 16%"
                  aria-valuenow="16"
                  aria-valuemin="0"
                  aria-valuemax="100">
                </div>
          </div>
          <div>
            <p class="zone-per">16%</p>
          </div>
          </div>
          <div class="zone-bar">
            <div>
              <p>Zone-bar</p>
            </div>
            <div class="progress">
                  <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 20%"
                  aria-valuenow="20"
                  aria-valuemin="0"
                  aria-valuemax="100">
                </div>
          </div>
          <div>
            <p class="zone-per">20%</p>
          </div>
          </div>

          <div class="zone-bar">
            <div>
              <p>Zone-bar</p>
            </div>
            <div class="progress">
                  <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 24%"
                  aria-valuenow="24"
                  aria-valuemin="0"
                  aria-valuemax="100">
                </div>
          </div>
          <div>
            <p class="zone-per">24%</p>
          </div>
          </div>
          <div class="zone-bar">
            <div>
              <p>Zone-bar</p>
            </div>
            <div class="progress">
                  <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 26%"
                  aria-valuenow="26"
                  aria-valuemin="0"
                  aria-valuemax="100">
                </div>
          </div>
          <div>
            <p class="zone-per">26%</p>
          </div>
          </div>
          <div class="zone-bar">
            <div>
              <p>Zone-bar</p>
            </div>
            <div class="progress">
                  <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: 40%"
                  aria-valuenow="40"
                  aria-valuemin="0"
                  aria-valuemax="100">
                </div>
          </div>
          <div>
            <p class="zone-per">40%</p>
          </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="exam-result-card">
        <div class="bieap-row justify-content-between">
          <p class="card-head">Examination and Results</p>
          <p class="card-date">12/04/2023</p>
        </div>
       <div class="row">
        <div class="col-12 col-md-6 exam-result-content">
         <p>Number of Students passed</p>
         <h1 class="heading-1 bold">80,000</h1>

         <p>Number of Students failed</p>
         <h1 class="heading-1 bold">20,000</h1>

         <span>Overall pass percentage: 80%</span>
        </div>
        <div class="col-12 col-md-6">
          <div class="exam-result border-l">
            <div class="progress-containter">

              <div class="progres-sec">
                 <div class="barcontainer color-1">
                    <div class="bar" style="height: 60%;">
                    </div>
                  </div>
                 <div class="barcontainer color-2">
                  <div class="bar" style="height: 80%;">
                  </div>
                </div>
                 <div class="barcontainer color-3">
                  <div class="bar" style="height: 45%;">
                  </div>
                </div>

              </div>
              <p class="clr-text color-2">2023</p>
              <hr>
              <p class="circle color-6 progress-tot">Total : <span>80%</span></p>
            </div>
            <div class="progress-containter">

              <div class="progres-sec">
                <div class="barcontainer" >
                   <div class="bar" style="height: 80%;">
                   </div>
                 </div>
                <div class="barcontainer" >
                 <div class="bar" style="height: 90%;">
                 </div>
               </div>
                <div class="barcontainer" >
                 <div class="bar" style="height: 65%;">
                 </div>
               </div>

             </div>
             <p class="lead">2023</p>
              <hr>
             <p class="circle color-8 progress-tot">Boys : <span>60%</span></p>
            </div>
           <div class="progress-containter">
             <div class="progres-sec">
              <div class="barcontainer">
                 <div class="bar" style="height: 90%;">
                 </div>
               </div>
              <div class="barcontainer">
               <div class="bar" style="height: 70%;">
               </div>
             </div>
              <div class="barcontainer">
               <div class="bar" style="height: 80%;">
               </div>
             </div>

           </div>
           <p class="lead">2023</p>
           <hr>
           <p class="circle color-1 progress-tot">Girls : <span>20%</span></p>

           </div>
          </div>
        </div>
       </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <div class="bieap-card color-7  collection-report">
        <div class="bieap-row justify-content-between">
          <p class="card-head">Fee collection Report</p>
          <p class="card-date">12/04/2023</p>
        </div>
        <div class="bieap-column border-b ">
          <div class="icon-lg amt-icon">
            <img src="assets/rupee.svg" alt="">
          </div>
          <p>94.5% fee collected</p>
        </div>
        <div class="text-center row">
          <div class="col border-r">
            <p class="success">Total Fee Collected</p>
            <h1 class="heading-3 bold">$94,500</h1>
          </div>
          <div class="col">
            <p class="success">Total Fee Collected</p>
            <h1 class="heading-3 bold">$94,500</h1>
          </div>

        </div>

      </div>
    </div>
  </div>

<!-- <style>
  .table,
  .table th,.table td{
    border: 1px solid ;
    text-align: center;
    border-left: none;
    padding: 10px ;
  }

</style> -->

  <!-- <table>
    <tr>
      <td colspan="3"></td>
      <td colspan="3"> Unit 1 </td>
      <td colspan="3"> Unit 2 </td>
      <td colspan="3"> Quartely</td>
      <td colspan="3"> Unit 3 </td>
      <td colspan="3"> Unit 4 </td>
      <td colspan="3">Half Yearly </td>
      <td colspan="3">Prefinal </td>
    </tr>
    <tr>
      <td>S.No</td>
      <td>Admission.No</td>
      <td>Name of the Student</td>

      <td>No. of Subjects</td>
      <td>Total</td>
      <td>%</td>

      <td>No. of Subjects</td>
      <td>Total</td>
      <td>%</td>

      <td>No. of Subjects</td>
      <td>Total</td>
      <td>%</td>

      <td>No. of Subjects</td>
      <td>Total</td>
      <td>%</td>

      <td>No. of Subjects</td>
      <td>Total</td>
      <td>%</td>

      <td>No. of Subjects</td>
      <td>Total</td>
      <td>%</td>

      <td>No. of Subjects</td>
      <td>Total</td>
      <td>%</td>
    </tr>
  </table> -->

<!-- <table cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <table class="table">
        <tr>
          <td colspan="3"></td>
        </tr>
        <tr>
          <td>S.No</td>
          <td>Admission.No</td>
          <td>Name of the Student</td>
        </tr>
      </table>
    </td>
  </tr>
</table> -->


</main>

