<main>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="bieap-card color-1">
        <div class="bieap-row">
          <div class="icon-lg">
            <img src="assets/school.svg" alt="">
          </div>
          <h1 class="heading-1 bold">1,000</h1>
        </div>
        <p class="para-2">Total Number of Schools</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="bieap-card color-5">
        <div class="bieap-row">
          <div class="icon-lg">
            <img src="assets/calender.svg" alt="">
          </div>
          <h1 class="heading-1 bold">1,00,000</h1>
        </div>
        <p class="para-2">Schools under 60% attendance  </p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="bieap-card color-7">
        <div class="bieap-row">
          <div class="icon-lg">
            <img src="assets/trophy.svg" alt="">
          </div>
          <h1 class="heading-1 bold">30,000</h1>
        </div>
        <p class="para-2">Schools above 90% pass percent</p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="bieap-card color-2">
        <div class="bieap-row">
          <div class="icon-lg">
            <img src="assets/close.svg" alt="">
          </div>
          <h1 class="heading-1 bold">20,000</h1>
        </div>
        <p class="para-2">Schools below 30% pass percent</p>
      </div>
    </div>
  </div>

  <h1 class="section-title">Zone one - School List</h1>

  <div class="employee-list-table">
    <table class="table">
      <thead>
        <th>School Name</th>
        <th>Division</th>
        <th>Phone Number</th>
        <th>Location</th>
      </thead>

      <tr [routerLink]="['/user/schools/list/details']">
        <td><p>Government Junior College - Krishna Lanka</p></td>
        <td><p>Vijayawada</p></td>
        <td><p>+919876543210</p></td>
        <td><p class="clr-text color-1">View <span class="map-icon"></span> </p> </td>
      </tr>

      <tr [routerLink]="['/user/schools/list/details']">
        <td><p>Government Junior College - Krishna Lanka</p></td>
        <td><p>Vijayawada</p></td>
        <td><p>+919876543210</p></td>
        <td><p class="clr-text color-1">View <span class="map-icon"></span> </p> </td>
      </tr>
      <tr [routerLink]="['/user/schools/list/details']">
        <td><p>Government Junior College - Krishna Lanka</p></td>
        <td><p>Vijayawada</p></td>
        <td><p>+919876543210</p></td>
        <td><p class="clr-text color-1">View <span class="map-icon"></span> </p> </td>
      </tr>
      <tr [routerLink]="['/user/schools/list/details']">
        <td><p>Government Junior College - Krishna Lanka</p></td>
        <td><p>Vijayawada</p></td>
        <td><p>+919876543210</p></td>
        <td><p class="clr-text color-1">View <span class="map-icon"></span> </p> </td>
      </tr>
      <tr [routerLink]="['/user/schools/list/details']">
        <td><p>Government Junior College - Krishna Lanka</p></td>
        <td><p>Vijayawada</p></td>
        <td><p>+919876543210</p></td>
        <td><p class="clr-text color-1">View <span class="map-icon"></span> </p> </td>
      </tr>
      <tr [routerLink]="['/user/schools/list/details']">
        <td><p>Government Junior College - Krishna Lanka</p></td>
        <td><p>Vijayawada</p></td>
        <td><p>+919876543210</p></td>
        <td><p class="clr-text color-1">View <span class="map-icon"></span> </p> </td>
      </tr>
      <tr [routerLink]="['/user/schools/list/details']">
        <td><p>Government Junior College - Krishna Lanka</p></td>
        <td><p>Vijayawada</p></td>
        <td><p>+919876543210</p></td>
        <td><p class="clr-text color-1">View <span class="map-icon"></span> </p> </td>
      </tr>
      <tr [routerLink]="['/user/schools/list/details']">
        <td><p>Government Junior College - Krishna Lanka</p></td>
        <td><p>Vijayawada</p></td>
        <td><p>+919876543210</p></td>
        <td><p class="clr-text color-1">View <span class="map-icon"></span> </p> </td>
      </tr>
      <tr [routerLink]="['/user/schools/list/details']">
        <td><p>Government Junior College - Krishna Lanka</p></td>
        <td><p>Vijayawada</p></td>
        <td><p>+919876543210</p></td>
        <td><p class="clr-text color-1">View <span class="map-icon"></span> </p> </td>
      </tr>






    </table>

  </div>
</main>
