<main>
  <h1 class="section-title">Government Junior College - Krishna Lanka</h1>

  <h4 class="heading-4 clr-text color-1 mb-4">Basic Information</h4>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-2">
      <div class="bieap-card">
        <p>School Code</p>
        <h4 class="heading-4 medium mt-2">1234</h4>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-2">
      <div class="bieap-card">
        <p>UDISE Code</p>
        <h4 class="heading-4 medium mt-2">1234567890</h4>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="bieap-card">
        <p>District</p>
        <h4 class="heading-4 medium mt-2">Vijayawada</h4>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-2">
      <div class="bieap-card">
        <p>Zone</p>
        <h4 class="heading-4 medium mt-2">Zone 1</h4>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-2">
      <div class="bieap-card">
        <p>PIN Code</p>
        <h4 class="heading-4 medium mt-2">1234</h4>
      </div>
    </div>

  </div>
<div class="w-100">

  <table class="table">
    <tr>
      <td><p class="lead">School Address:</p></td>
      <td><p>APSRM High School Compound, Krishna Lanka, Vijayawada. NTR District, 520 013.</p></td>
    </tr>
    <tr>
      <td><p class="lead">School Established Year:</p></td>
      <td><p>2000</p></td>
    </tr>
    <tr>
      <td><p class="lead">Contact E-mail:</p></td>
      <td><p>contactemail@gmail.com</p></td>
    </tr>
  </table>
</div>

  <h4 class="heading-4 clr-text color-1 mb-4">Academic Details</h4>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-2">
      <div class="bieap-card">
        <p>Total Students</p>
        <h4 class="heading-4 medium mt-2">200</h4>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-2">
      <div class="bieap-card">
        <p>Boys</p>
        <h4 class="heading-4 medium mt-2">110</h4>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-2">
      <div class="bieap-card">
        <p>Girls</p>
        <h4 class="heading-4 medium mt-2">90</h4>
      </div>
    </div>
  </div>

  <h4 class="heading-4 clr-text color-1 mb-4">Staff Details</h4>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-2">
      <div class="bieap-card">
        <p>Total Staffs</p>
        <h4 class="heading-4 medium mt-2">20</h4>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-2">
      <div class="bieap-card">
        <p>Teaching Staff</p>
        <h4 class="heading-4 medium mt-2">11</h4>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-2">
      <div class="bieap-card">
        <p>Non Teaching Staff</p>
        <h4 class="heading-4 medium mt-2">09</h4>
      </div>
    </div>
  </div>

  <h4 class="heading-4 clr-text color-1 mb-4">Infrastructure Details</h4>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-3">
      <div class="bieap-card color-2">
        <div class="row">
          <div class="col-4 col-md-4">
            <div class="icon-lg">
              <img src="assets/library.svg" alt="">
            </div>
          </div>
          <div class="col">
            <p>Library</p>
        <h4 class="heading-4 medium mt-2">Yes- 01</h4>
          </div>
        </div>

      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="bieap-card color-7">
        <div class="row">
          <div class="col-4 col-md-4">
            <div class="icon-lg">
              <img src="assets/energy.svg" alt="">
            </div>
          </div>
          <div class="col">
            <p>Electrification</p>
        <h4 class="heading-4 medium mt-2">Yes </h4>
          </div>
        </div>

      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="bieap-card color-6">
        <div class="row">
          <div class="col-4 col-md-4">
            <div class="icon-lg">
              <img src="assets/wifi.svg" alt="">
            </div>
          </div>
          <div class="col">
            <p>Internet</p>
        <h4 class="heading-4 medium mt-2">Yes</h4>
          </div>
        </div>

      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="bieap-card color-1">
        <div class="row">
          <div class="col-4 col-md-4">
            <div class="icon-lg">
              <img src="assets/water.svg" alt="">
            </div>
          </div>
          <div class="col">
            <p>Drinking Water</p>
        <h4 class="heading-4 medium mt-2">Yes - Bore Well</h4>
          </div>
        </div>

      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="bieap-card color-1">
        <div class="row">
          <div class="col-4 col-md-4">
            <div class="icon-lg">
              <img src="assets/class-room.svg" alt="">
            </div>
          </div>
          <div class="col">
            <p>Classrooms</p>
        <h4 class="heading-4 medium mt-2"> 04</h4>
          </div>
        </div>

      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="bieap-card color-5">
        <div class="row">
          <div class="col-4 col-md-4">
            <div class="icon-lg">
              <img src="assets/sm-class.svg" alt="">
            </div>
          </div>
          <div class="col">
            <p>Smart class</p>
        <h4 class="heading-4 medium mt-2">Yes - 02 </h4>
          </div>
        </div>

      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="bieap-card color-7">
        <div class="row">
          <div class="col-4 col-md-4">
            <div class="icon-lg">
              <img src="assets/comp-lab.svg" alt="">
            </div>
          </div>
          <div class="col">
            <p>Computer Lab</p>
        <h4 class="heading-4 medium mt-2">Yes - 01 </h4>
          </div>
        </div>

      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="bieap-card color-2">
        <div class="row">
          <div class="col-4 col-md-4">
            <div class="icon-lg">
              <img src="assets/sci-lab.svg" alt="">
            </div>
          </div>
          <div class="col">
            <p>Science Lab</p>
        <h4 class="heading-4 medium mt-2">Yes - 01</h4>
          </div>
        </div>

      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="bieap-card color-5">
        <div class="row">
          <div class="col-4 col-md-4">
            <div class="icon-lg">
              <img src="assets/first-aid.svg" alt="">
            </div>
          </div>
          <div class="col">
            <p>First Aid Room</p>
        <h4 class="heading-4 medium mt-2">Yes</h4>
          </div>
        </div>

      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="bieap-card color-2">
        <div class="row">
          <div class="col-4 col-md-4">
            <div class="icon-lg">
              <img src="assets/store.svg" alt="">
            </div>
          </div>
          <div class="col">
            <p>Store</p>
        <h4 class="heading-4 medium mt-2">Yes </h4>
          </div>
        </div>

      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="bieap-card color-1">
        <div class="row">
          <div class="col-4 col-md-4">
            <div class="icon-lg">
              <img src="assets/auditoriam.svg" alt="">
            </div>
          </div>
          <div class="col">
            <p>Auditorium</p>
        <h4 class="heading-4 medium mt-2">Yes</h4>
          </div>
        </div>

      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="bieap-card color-6">
        <div class="row">
          <div class="col-4 col-md-4">
            <div class="icon-lg">
              <img src="assets/bathroom.svg" alt="">
            </div>
          </div>
          <div class="col">
            <p>Toilet</p>
        <h4 class="heading-4 medium mt-2">Yes - 04</h4>
          </div>
        </div>

      </div>
    </div>


  </div>
</main>
