<main>
  <h1 class="section-title">Government Junior College - Krishna Lanka</h1>

  <h4 class="heading-4 clr-text color-1 mb-4">Basic Information</h4>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-2">
      <div class="bieap-card">
        <p>School Code</p>
        <h4 class="heading-4 medium mt-2">1234</h4>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-2">
      <div class="bieap-card">
        <p>UDISE Code</p>
        <h4 class="heading-4 medium mt-2">1234567890</h4>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="bieap-card">
        <p>District</p>
        <h4 class="heading-4 medium mt-2">Vijayawada</h4>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-2">
      <div class="bieap-card">
        <p>Zone</p>
        <h4 class="heading-4 medium mt-2">Zone 1</h4>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-2">
      <div class="bieap-card">
        <p>PIN Code</p>
        <h4 class="heading-4 medium mt-2">1234</h4>
      </div>
    </div>

  </div>

  <table class="table">
    <tr>
      <td><p class="lead">School Address:</p></td>
      <td><p>APSRM High School Compound, Krishna Lanka, Vijayawada. NTR District, 520 013.</p></td>
    </tr>
    <tr>
      <td><p class="lead">School Established Year:</p></td>
      <td><p>2000</p></td>
    </tr>
    <tr>
      <td><p class="lead">Contact E-mail:</p></td>
      <td><p>contactemail@gmail.com</p></td>
    </tr>
  </table>

  <h4 class="heading-4 clr-text color-1 mb-4">Academic Details</h4>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-2">
      <div class="bieap-card">
        <p>Total Students</p>
        <h4 class="heading-4 medium mt-2">200</h4>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-2">
      <div class="bieap-card">
        <p>Boys</p>
        <h4 class="heading-4 medium mt-2">110</h4>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-2">
      <div class="bieap-card">
        <p>Girls</p>
        <h4 class="heading-4 medium mt-2">90</h4>
      </div>
    </div>
  </div>

  <h4 class="heading-4 clr-text color-1 mb-4">Staff Details</h4>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-2">
      <div class="bieap-card">
        <p>Total Staffs</p>
        <h4 class="heading-4 medium mt-2">20</h4>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-2">
      <div class="bieap-card">
        <p>Teaching Staff</p>
        <h4 class="heading-4 medium mt-2">11</h4>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-2">
      <div class="bieap-card">
        <p>Non Teaching Staff</p>
        <h4 class="heading-4 medium mt-2">09</h4>
      </div>
    </div>
  </div>

  <h4 class="heading-4 clr-text color-1 mb-4">Infrastructure Details</h4>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-3">
      <div class="bieap-card color-1">
        <div class="row">
          <div class="col">
            <div class="icon-lg m-auto">
              <img src="../../../assets/student.svg" alt="">
            </div>
          </div>
          <div class="col">
            <p>Total Staffs</p>
        <h4 class="heading-4 medium mt-2">20</h4>
          </div>
        </div>

      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="bieap-card color-1">
        <div class="row">
          <div class="col">
            <div class="icon-lg m-auto">
              <img src="../../../assets/student.svg" alt="">
            </div>
          </div>
          <div class="col">
            <p>Total Staffs</p>
        <h4 class="heading-4 medium mt-2">20</h4>
          </div>
        </div>

      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="bieap-card color-1">
        <div class="row">
          <div class="col">
            <div class="icon-lg m-auto">
              <img src="../../../assets/student.svg" alt="">
            </div>
          </div>
          <div class="col">
            <p>Total Staffs</p>
        <h4 class="heading-4 medium mt-2">20</h4>
          </div>
        </div>

      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="bieap-card color-1">
        <div class="row">
          <div class="col">
            <div class="icon-lg m-auto">
              <img src="../../../assets/student.svg" alt="">
            </div>
          </div>
          <div class="col">
            <p>Total Staffs</p>
        <h4 class="heading-4 medium mt-2">20</h4>
          </div>
        </div>

      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="bieap-card color-1">
        <div class="row">
          <div class="col">
            <div class="icon-lg m-auto">
              <img src="../../../assets/student.svg" alt="">
            </div>
          </div>
          <div class="col">
            <p>Total Staffs</p>
        <h4 class="heading-4 medium mt-2">20</h4>
          </div>
        </div>

      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="bieap-card color-1">
        <div class="row">
          <div class="col">
            <div class="icon-lg m-auto">
              <img src="../../../assets/student.svg" alt="">
            </div>
          </div>
          <div class="col">
            <p>Total Staffs</p>
        <h4 class="heading-4 medium mt-2">20</h4>
          </div>
        </div>

      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="bieap-card color-1">
        <div class="row">
          <div class="col">
            <div class="icon-lg m-auto">
              <img src="../../../assets/student.svg" alt="">
            </div>
          </div>
          <div class="col">
            <p>Total Staffs</p>
        <h4 class="heading-4 medium mt-2">20</h4>
          </div>
        </div>

      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="bieap-card color-1">
        <div class="row">
          <div class="col">
            <div class="icon-lg m-auto">
              <img src="../../../assets/student.svg" alt="">
            </div>
          </div>
          <div class="col">
            <p>Total Staffs</p>
        <h4 class="heading-4 medium mt-2">20</h4>
          </div>
        </div>

      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="bieap-card color-1">
        <div class="row">
          <div class="col">
            <div class="icon-lg m-auto">
              <img src="../../../assets/student.svg" alt="">
            </div>
          </div>
          <div class="col">
            <p>Total Staffs</p>
        <h4 class="heading-4 medium mt-2">20</h4>
          </div>
        </div>

      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
      <div class="bieap-card color-1">
        <div class="row">
          <div class="col">
            <div class="icon-lg m-auto">
              <img src="../../../assets/student.svg" alt="">
            </div>
          </div>
          <div class="col">
            <p>Total Staffs</p>
        <h4 class="heading-4 medium mt-2">20</h4>
          </div>
        </div>

      </div>
    </div>
    

  </div>
</main>
