  <!-- HEADER SECTION  -->
<header class="header" id="header">
  <div class="header__search">
    <span class="material-symbols-outlined">search</span>
    <input type="text" placeholder="Search for schools, faculties etc.">
  </div>

  <div class="header__profile">
    <div class="header__profile-img"><img src="" alt=""></div>
    <div class="header__profile-content">
      <h4 class="header__profile-name">Profile Name</h4>
      <h5 class="header__profile-position">Joint Director</h5>
    </div>
  </div>
</header>

<!-- SIDE BAR  -->

<aside class="navbar  " id="navbar">
    <nav>

      <div class="header__logo">
        <a href="#" class="nav__logo">
            <img src="assets/logo.svg" alt="">
        </a>
      </div>

      <div div class="nav-list">

          <a class="nav__list-item " [routerLink]="['/dashboard']" routerLinkActive="active">
            <div  class="nav__link "  >
              <div class="nav-icon">
                <img *ngIf="isActiveRoute('/dashboard')" src="assets/dashboard-fill-icon.svg"  alt="">
                <img *ngIf="!isActiveRoute('/dashboard')" src="assets/dashboard-icon.svg"  alt="">
              </div>
              <span>Dashboard</span>
            </div>
          </a>

          <a class="nav__list-item " [routerLink]="['/reports']" routerLinkActive="active">
            <div  class="nav__link ">
              <div class="nav-icon">
              <img *ngIf="isActiveRoute('/reports')"  src="assets/report-fill-icon.svg" alt="">
              <img *ngIf="!isActiveRoute('/reports')"  src="assets/report-icon.svg" alt="">
            </div>
            <span>Reports</span>
          </div>
        </a>

        <a class="nav__list-item" [routerLink]="['/employees']" routerLinkActive="active">
          <div class="nav__link">
            <div class="nav-icon">
              <img *ngIf="isActiveRoute('/employees')"  src="assets/employees-fill-icon.svg" alt="">
              <img *ngIf="!isActiveRoute('/employees')"  src="assets/employee-icon.svg" alt="">
            </div>
            <span>Employees</span>
          </div>
        </a>

        <a class="nav__list-item" [routerLink]="['/students']" routerLinkActive="active">
          <div class="nav__link">
            <div class="nav-icon">
              <!-- <img src="assets/students-icon.svg" alt=""> -->
              <img *ngIf="isActiveRoute('/students')"  src="assets/students-fill-icon.svg" alt="">
              <img *ngIf="!isActiveRoute('/students')"  src="assets/students-icon.svg" alt="">
            </div>
            <span>Students</span>
          </div>
        </a>

        <a class="nav__list-item" [routerLink]="['/exams']" routerLinkActive="active">
          <div class="nav__link">
            <div class="nav-icon">
              <img *ngIf="isActiveRoute('/exams')" src="assets/exam-result-fill-icon.svg" alt="">
              <img *ngIf="!isActiveRoute('/exams')" src="assets/exam-result-icon.svg" alt="">
            </div>
            <span>Exam/Result</span>
          </div>
        </a>

        <a class="nav__list-item" [routerLink]="['/feedetails']" routerLinkActive="active">
          <div class="nav__link">
            <div class="nav-icon">
              <img *ngIf="isActiveRoute('/feedetails')" src="assets/fee-details-fill-icon.svg" alt="">
              <img *ngIf="!isActiveRoute('/feedetails')" src="assets/fee-details-icon.svg" alt="">
            </div>
            <span>Fee Details</span>
          </div>
        </a>

        <div class="nav__list-item" [routerLink]="['/schools']" routerLinkActive="active">
          <a class="nav__link">
            <div class="nav-icon">
              <!-- <img src="assets/schools-icon.svg" alt=""> -->
              <img *ngIf="isActiveRoute('/schools')" src="assets/school-fill-icon.svg" alt="">
              <img *ngIf="!isActiveRoute('/schools')" src="assets/schools-icon.svg" alt="">
            </div>
            <span>Schools</span>
          </a>
        </div>


      </div>
      <div class="nav__list-item">
        <a (click)="handleLogout()" class="nav__link ougout">
          <div class="nav-icon">
            <img src="assets/logout-icon.svg" alt="">
          </div>
          <span>Log Out</span>
        </a>
      </div>
    </nav>
</aside>
<div class="content-wrap">

  <router-outlet></router-outlet>
</div>
