<main>
  <div class="flex-between filter-wrap">
    <h1 class="section-title ">Employee Data -
      <span class="clr-text color-1">Andhra Pradesh State</span>
    </h1>

    <div class="filter-sec">
      <span>Filter zones or schools</span>
      <span class="material-symbols-outlined">filter_alt</span>
    </div>
  </div>


  <div class="row">
    <div class="col-12 col-md-3">
      <div class="bieap-card color-7" [routerLink]="['/user/employees/list']">
        <div class="bieap-row">
          <div class="icon-lg">
            <img src="../../../assets/teacher.svg" alt="">
          </div>
          <h1 class="heading-1 bold">30,000</h1>
        </div>

        <p class="para-2">Number of Teaching Employees</p>
        <p class="card-date my-2">From 1,000 schools</p>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="bieap-card color-2" [routerLink]="['/user/employees/list']">
        <div class="bieap-row">
          <div class="icon-lg">
            <img src="../../../assets/employees.svg" alt="">
          </div>
          <h1 class="heading-1 bold">20,000</h1>
        </div>

        <p class="para-2">Non Teaching Employees Present</p>
        <p class="card-date my-2">From 1,000 schools</p>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="bieap-card color-1">
        <div class="row">
          <div class="col-12 col-md-6 border-r">
            <p>Employees Present</p>
            <h2 class="heading-3 medium clr-text color-6 my-2">45,000</h2>

            <p>Employees Absent</p>
            <h2 class="heading-3 medium clr-text color-5 my-2">45,000</h2>

          </div>
          <div class="col-12 col-md-6 d-flex flex-column justify-content-between">
            <div class="bieap-row">
              <div class="icon-md">
                <img src="assets/school.svg" alt="">
              </div>
              <div>
                <p>Teaching Employees Present </p>
                <h5 class="mt-1 heading-4 medium">27,000</h5>
              </div>
            </div>

            <div class="bieap-row">
              <div class="icon-md">
                <img src="assets/school.svg" alt="">
              </div>

              <div>
                <p>Teaching Employees Present </p>
                <h5 class="mt-1 heading-4 medium">27,000</h5>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <div class="bieap-card">
        <div class="bieap-row justify-content-between">
          <p class="card-head">Teaching Employees - Subject wise</p>
        </div>
        <div class="scroll-list">
          <div class="subject-listing">
            <table class="table ">
              <tr>
                <td><p>English</p></td>
                <td><span>4000</span></td>
                <td><p>English</p></td>
                <td><span>4000</span></td>
              </tr>
              <tr>
                <td><p>English</p></td>
                <td><span>4000</span></td>
                <td><p>English</p></td>
                <td><span>4000</span></td>
              </tr>
              <tr>
                <td><p>English</p></td>
                <td><span>4000</span></td>
                <td><p>English</p></td>
                <td><span>4000</span></td>
              </tr>
              <tr>
                <td><p>English</p></td>
                <td><span>4000</span></td>
                <td><p>English</p></td>
                <td><span>4000</span></td>
              </tr>
              <tr>
                <td><p>English</p></td>
                <td><span>4000</span></td>
                <td><p>English</p></td>
                <td><span>4000</span></td>
              </tr>
              <tr>
                <td><p>English</p></td>
                <td><span>4000</span></td>
                <td><p>English</p></td>
                <td><span>4000</span></td>
              </tr>
              <tr>
                <td><p>English</p></td>
                <td><span>4000</span></td>
                <td><p>English</p></td>
                <td><span>4000</span></td>
              </tr>
              <tr>
                <td><p>English</p></td>
                <td><span>4000</span></td>
                <td><p>English</p></td>
                <td><span>4000</span></td>
              </tr>
              <tr>
                <td><p>English</p></td>
                <td><span>4000</span></td>
                <td><p>English</p></td>
                <td><span>4000</span></td>
              </tr>
              <tr>
                <td><p>English</p></td>
                <td><span>4000</span></td>
                <td><p>English</p></td>
                <td><span>4000</span></td>
              </tr>
              <tr>
                <td><p>English</p></td>
                <td><span>4000</span></td>
                <td><p>English</p></td>
                <td><span>4000</span></td>
              </tr>


            </table>


          </div>

        </div>

      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="bieap-card">
        <div class="bieap-row justify-content-between">
          <p class="card-head">Non Teaching Employee - Subject wise</p>
        </div>
        <div class="scroll-list var-height">
          <div class="subject-listing">
            <table class="table ">
              <tr>
                <td><p>Physical Director</p></td>
                <td><span>4000</span></td>
              </tr>
              <tr>
                <td><p>Physical Director</p></td>
                <td><span>4000</span></td>

              </tr>
              <tr>
                <td><p>Physical Director</p></td>
                <td><span>4000</span></td>
              </tr>
              <tr>
                <td><p>Physical Director</p></td>
                <td><span>4000</span></td>
              </tr>
              <tr>
                <td><p>Physical Director</p></td>
                <td><span>4000</span></td>
              </tr>
              <tr>
                <td><p>Physical Director</p></td>
                <td><span>4000</span></td>
              </tr>
              <tr>
                <td><p>Physical Director</p></td>
                <td><span>4000</span></td>
              </tr>
              <tr>
                <td><p>Physical Director</p></td>
                <td><span>4000</span></td>
              </tr>

              <tr>
                <td><p>Physical Director</p></td>
                <td><span>4000</span></td>
              </tr>



            </table>


          </div>

        </div>

      </div>
    </div>

    <div class="col-12 col-md-3">
      <div class="bieap-card">
        <div class="bieap-row justify-content-between">
          <p class="card-head">Total Employees - Category</p>
        </div>
        <div class="scroll-list">
          <div class="subject-listing">
            <table class="table ">
              <tr>
                <td><p>Principal</p></td>
                <td><span>4000</span></td>
              </tr>
              <tr>
                <td><p>Principal</p></td>
                <td><span>4000</span></td>

              </tr>
              <tr>
                <td><p>Principal</p></td>
                <td><span>4000</span></td>
              </tr>
              <tr>
                <td><p>Principal</p></td>
                <td><span>4000</span></td>
              </tr>
              <tr>
                <td><p>Principal</p></td>
                <td><span>4000</span></td>
              </tr>
              <tr>
                <td><p>Principal</p></td>
                <td><span>4000</span></td>
              </tr>
              <tr>
                <td><p>Principal</p></td>
                <td><span>4000</span></td>
              </tr>
              <tr>
                <td><p>Principal</p></td>
                <td><span>4000</span></td>
              </tr>

              <tr>
                <td><p>Principal</p></td>
                <td><span>4000</span></td>
              </tr>



            </table>


          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="flex-between filter-wrap">
    <h1 class="section-title ">Teacher Performance -
      <span class="clr-text color-1">Andhra Pradesh State</span>
    </h1>

    <div class="filter-sec">
      <span>Filter zones or schools</span>
      <span class="material-symbols-outlined">filter_alt</span>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-3">
      <div class="bieap-card">
        <p class="mb-2">Best performing Teachers</p>
        <h1 class="heading-1 bold">3,000</h1>
        <p class="card-date mt-2">From 1,000 schools</p>
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="bieap-card">
        <p class="mb-2">Department with best performers</p>
        <h1 class="heading-1 bold">Science</h1>
        <p class="card-date mt-2">From 750 schools</p>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <div class="bieap-card teacher-perf">
        <div class="row">
          <div class="col-12 col-md-6 border-r">
            <p> <span class="clr-text color-6">01</span>/1000</p>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="slide-profile">

                    <img src="../../../assets/profile.svg" class="d-block w-100" alt="../../../assets/profile.svg">
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="slide-profile">

                    <img src="../../../assets/profile.svg" class="d-block w-100" alt="../../../assets/profile.svg">
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="slide-profile">

                    <img src="../../../assets/profile.svg" class="d-block w-100" alt="../../../assets/profile.svg">
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <p class="teacher-perf-head">Student of the year 2022 - 2023</p>
            <p>Student Name</p>
            <p>Class 11</p>
            <p class="m-0">School Name</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
