<main>
  <div class="flex-between">
    <h1 class="section-title ">Employee List -
      <span class="clr-text color-1">Andhra Pradesh State</span>
    </h1>

    <div class="filter-sec">
      <span>Filter zones or schools</span>
      <span class="material-symbols-outlined">filter_alt</span>
    </div>
  </div>
  <div class="employee-list-table">
    <table class="table">
      <thead>
        <th>Photo</th>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Department</th>
        <th>School</th>
        <th>Zone</th>
      </thead>

      <tr>
        <td><div class="employee-profile"><img src="assets/profile.svg" alt=""></div></td>
        <td><p class="lead">1234567890</p></td>
        <td><p class="clr-text color-1">Srinivasulu</p></td>
        <td><p>English</p></td>
        <td><p>Government Junior College - Krishna Lanka</p></td>
        <td><p>Zone 1</p></td>
      </tr>

      <tr>
        <td><div class="employee-profile"><img src="assets/profile.svg" alt=""></div></td>
        <td><p class="lead">1234567890</p></td>
        <td><p class="clr-text color-1">Srinivasulu</p></td>
        <td><p>English</p></td>
        <td><p>Government Junior College - Krishna Lanka</p></td>
        <td><p>Zone 1</p></td>
      </tr>
      <tr>
        <td><div class="employee-profile"><img src="assets/profile.svg" alt=""></div></td>
        <td><p class="lead">1234567890</p></td>
        <td><p class="clr-text color-1">Srinivasulu</p></td>
        <td><p>English</p></td>
        <td><p>Government Junior College - Krishna Lanka</p></td>
        <td><p>Zone 1</p></td>
      </tr>
      <tr>
        <td><div class="employee-profile"><img src="assets/profile.svg" alt=""></div></td>
        <td><p class="lead">1234567890</p></td>
        <td><p class="clr-text color-1">Srinivasulu</p></td>
        <td><p>English</p></td>
        <td><p>Government Junior College - Krishna Lanka</p></td>
        <td><p>Zone 1</p></td>
      </tr>
      <tr>
        <td><div class="employee-profile"><img src="assets/profile.svg" alt=""></div></td>
        <td><p class="lead">1234567890</p></td>
        <td><p class="clr-text color-1">Srinivasulu</p></td>
        <td><p>English</p></td>
        <td><p>Government Junior College - Krishna Lanka</p></td>
        <td><p>Zone 1</p></td>
      </tr>
      <tr>
        <td><div class="employee-profile"><img src="assets/profile.svg" alt=""></div></td>
        <td><p class="lead">1234567890</p></td>
        <td><p class="clr-text color-1">Srinivasulu</p></td>
        <td><p>English</p></td>
        <td><p>Government Junior College - Krishna Lanka</p></td>
        <td><p>Zone 1</p></td>
      </tr>
      <tr>
        <td><div class="employee-profile"><img src="assets/profile.svg" alt=""></div></td>
        <td><p class="lead">1234567890</p></td>
        <td><p class="clr-text color-1">Srinivasulu</p></td>
        <td><p>English</p></td>
        <td><p>Government Junior College - Krishna Lanka</p></td>
        <td><p>Zone 1</p></td>
      </tr>
      <tr>
        <td><div class="employee-profile"><img src="assets/profile.svg" alt=""></div></td>
        <td><p class="lead">1234567890</p></td>
        <td><p class="clr-text color-1">Srinivasulu</p></td>
        <td><p>English</p></td>
        <td><p>Government Junior College - Krishna Lanka</p></td>
        <td><p>Zone 1</p></td>
      </tr>
      <tr>
        <td><div class="employee-profile"><img src="assets/profile.svg" alt=""></div></td>
        <td><p class="lead">1234567890</p></td>
        <td><p class="clr-text color-1">Srinivasulu</p></td>
        <td><p>English</p></td>
        <td><p>Government Junior College - Krishna Lanka</p></td>
        <td><p>Zone 1</p></td>
      </tr>


    </table>

  </div>
</main>
