<main>
    <div class="flex-between">
      <h1 class="section-title ">Fee Collection Report -
        <span class="clr-text color-1">Andhra Pradesh State</span>
      </h1>

      <div class="filter-sec">
        <span>Filter zones or schools</span>
        <span class="material-symbols-outlined">filter_alt</span>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-3">
        <div class="bieap-card color-4">
          <div class="bieap-row">
            <div class="icon-lg">
              <img src="../../../assets/rupee.svg" alt="">
            </div>
            <div class="beap-pad">
              <p>Total Fee Collected</p>
              <h1 class="heading-3 bold">₹ 94,500/-</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-3">
        <div class="bieap-card color-4">
          <div class="bieap-row">
            <div class="icon-lg">
              <img src="../../../assets/rupee.svg" alt="">
            </div>
            <div class="beap-pad">
              <p>Total Fee Collected</p>
              <h1 class="heading-3 bold">₹ 94,500/-</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h1 class="section-title ">Collection Report - Individual fee</h1>
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="bieap-card">
          <p class="para mb-3">Recognition fee</p>
          <table class="table mb-0">
            <tr>
              <td><p class="clr-text color-6">Collected</p></td>
              <td><p class="clr-text color-5">Due</p></td>
            </tr>
            <tr>
              <td><h2 class="heading-3 bold">₹10,000</h2></td>
              <td><h2 class="heading-3 bold">₹2,000</h2></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="bieap-card">
          <p class="para mb-3">Recognition fee</p>
          <table class="table mb-0">
            <tr>
              <td><p class="clr-text color-6">Collected</p></td>
              <td><p class="clr-text color-5">Due</p></td>
            </tr>
            <tr>
              <td><h2 class="heading-3 bold">₹10,000</h2></td>
              <td><h2 class="heading-3 bold">₹2,000</h2></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="bieap-card">
          <p class="para mb-3">Recognition fee</p>
          <table class="table mb-0">
            <tr>
              <td><p class="clr-text color-6">Collected</p></td>
              <td><p class="clr-text color-5">Due</p></td>
            </tr>
            <tr>
              <td><h2 class="heading-3 bold">₹10,000</h2></td>
              <td><h2 class="heading-3 bold">₹2,000</h2></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="bieap-card">
          <p class="para mb-3">Recognition fee</p>
          <table class="table mb-0">
            <tr>
              <td><p class="clr-text color-6">Collected</p></td>
              <td><p class="clr-text color-5">Due</p></td>
            </tr>
            <tr>
              <td><h2 class="heading-3 bold">₹10,000</h2></td>
              <td><h2 class="heading-3 bold">₹2,000</h2></td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="bieap-card">
          <p class="para mb-3">Recognition fee</p>
          <table class="table mb-0">
            <tr>
              <td><p class="clr-text color-6">Collected</p></td>
              <td><p class="clr-text color-5">Due</p></td>
            </tr>
            <tr>
              <td><h2 class="heading-3 bold">₹10,000</h2></td>
              <td><h2 class="heading-3 bold">₹2,000</h2></td>
            </tr>
          </table>
        </div>
      </div>
      
    </div>
</main>
